.card{

    .close{
        justify-content: right;
        border: none;
        background-color: transparent;
        font-size: 2rem;   
        margin-top: -2rem;
        padding-top: -1rem;
    }
}
